@import url("../styles/themes/animations.css");
@import url("../styles/themes/light.css");
@import url("../styles/themes/dark.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  min-height: 100vh;
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: var(--border);
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.90);
}

button:focus {
  outline: none;
}