@keyframes move-right-blur {
  from {
    top: -50%;
  }
  to {
    top: 80%;
  }
}

@keyframes move-left-blur {
  from {
    bottom: -50%;
  }
  to {
    bottom: 80%;
  }
}

.animate-right {
  animation: move-right-blur 60s ease-in-out infinite alternate;
}

.animate-left {
  animation: move-left-blur 60s ease-in-out infinite alternate;
}
