@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-background: transparent;
  --scroll-primary: #e1e1e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --scroll-background: transparent;
    --scroll-primary: #5e5e68;
  }
}

html[data-modal-open="true"] {
  padding-right: 5px !important;
}

html[data-modal-open="true"] main {
  padding-top: 24px !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-background);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-background);
  border-radius: 14px;
  border: 3px solid var(--scroll-primary);
}

@keyframes shimmerAnimation {
  0% {
    background: linear-gradient(-90deg, #d9d9d9 0%, #f8f8f8 50%, #d9d9d9 100%);
    background-size: 400% 400%;
    background-position: 0% 0%;
  }

  50% {
    background-position: -135% 0%;
  }

  100% {
    background: linear-gradient(-90deg, #d9d9d9 0%, #f8f8f8 50%, #d9d9d9 100%);
    background-size: 400% 400%;
    background-position: 0% 0%;
  }
}
