@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmerAnimation {
  0% {
    background: linear-gradient(-90deg, #d9d9d9 0%, #f8f8f8 50%, #d9d9d9 100%);
    background-size: 400% 400%;
    background-position: 0% 0%;
  }

  50% {
    background-position: -135% 0%;
  }

  100% {
    background: linear-gradient(-90deg, #d9d9d9 0%, #f8f8f8 50%, #d9d9d9 100%);
    background-size: 400% 400%;
    background-position: 0% 0%;
  }
}
